<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="XMLToObjectConvertor.Properties.Settings.XMLToObjDBConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DataAccessLayer\XMLToObjDB.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
    <add key="ConvertedXMLPath" value="c:\MyTest\" />
    <add key="LoggerFilePath" value="c:\MyTest\" />   
    </appSettings>
</configuration>